body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
header {
  flex: 0 0 auto;
  height: 10%;
		padding:15px 0;
		min-width:100%;
    background-color: orange;

	}

}
aside {
  float:left;
  /*width:99vw;
  height:99vh;
  margin: 0;*/
}

main {
  display:inline;
  /*height:auto;
  flex: 1 1 auto;
  float:right;*/
}

footer {
  flex: 0 0 auto;
  height: 100px;
  background-color: green;
}

.logOutBtn {
  float:right;
}
